<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>learnExchange</h1>
      </div>
      <search-form>Search</search-form>
  </div>
 </div>
<hr>
  <div class="row">
      <!-- nested view start -->
      <div ui-view style="margin-top:10px;"></div>
  </div>
  <hr>
  <button ng-show="user" class="btn btn-default" ng-click="showForm = !showForm" ng-model="showForm">{{showForm ? "Cancel" : "Ask a Question"}}</button>
  <div ng-show="showForm" class="well"><question-form>Question</question-form></div>
