<div class="page-header">
  <h3>
    {{question.body}}</br>
  </h3>
  <p>
    Learn link: {{question.lessonLink}}</br>
    Github link: {{question.githubLink}}</br>
    Asked by: {{question.user.name}}</br>
  </p>
</div>

<blockquote ng-repeat="answer in question.answers | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-chevron-up"
    ng-click="incrementUpvotes(answer)"></span>
  {{answer.votes}} - by {{answer.user.name}}
  <b>{{answer.body}}</b>
</blockquote>

<div class="answer">
  <form name="answerForm" ng-submit="answerForm.$valid && addAnswer()" ng-show="user.name" novalidate style="margin-top:20px;">
    <h3>Add Answer</h3>
    <div class="form-group">
      <textarea class="form-control" rows="4" placeholder="Answer" ng-model="body" ng-minLenght="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
